<%- model_class = Post -%>
<div class="page-header">
  <h3><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human %></h3>
</div>
<%= render :partial => 'form' %>
